<h1>Editing <%= @form.name %></h1>

<%= form_for(@form) do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name, autofocus: true %>
  <br><br>

  <%= f.label :redirect_url %><br>
  <%= f.text_field :redirect_url %>
  <br><br>

  <%= f.label :forward_query_string %><br>
  <%= f.check_box :forward_query_string %>
  <br><br>

  <%= f.label :optional_notification_emails %><br>
  <%= f.text_field :optional_notification_emails %>
  <br><br>

  <%= f.submit "Update Form", class: 'btn' %>
<% end %>

<br>
<%= link_to 'Delete Form', @form, method: :delete, data: {confirm: 'There is no going back. This deletes all submissions for this form too.'}, class: 'btn' %>
