<h1>New Form</h1>

<%= form_for(@form) do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name %>
  <br><br>

  <%= f.label :redirect_url %><br>
  <%= f.check_box :redirect_url %>
  <br><br>

  <%= f.label :forward_query_string %><br>
  <%= f.text_field :forward_query_string %>
  <br><br>

  <%= f.label :optional_notification_emails %><br>
  <%= f.text_field :optional_notification_emails %>
  <br><br>

  <%= f.submit "Add Form" %>
<% end %>
