<!DOCTYPE html>
<html>
<head>
  <title>Walter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render partial: 'layouts/header' %>

  <main>
    <div class="wrapper">
      <div id="flash">
        <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>
      </div>

      <%= yield %>
    </div>

  </main>

  <script src="https://use.typekit.net/ujr4qeu.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
</body>
</html>
